
body {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 17.6px;
    color: #25167A;
    margin: 0;
    padding: 0;
    background:url(/Svg/Untitledhvas\ \(1\).svg) center no-repeat ;
    background-size: cover;
}
svg{
    width: 20px;
    height: 20PX;
}
/*navbar*/
aside{
    width: 8rem;
    height: 100%;
    background-color: rgb(213, 201, 252);
    position: fixed;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
     z-index: 10;
}
.menu-icon{
    margin-top: rem;
    cursor: pointer; 
    
}
.line {
    height: .2rem;
    width: 2.5rem;
    background-color:#222 ;
    margin-bottom: .6rem;
}
.line-1,.line-3{
    width: 1.8rem;
    transition:width.4s ;
}
.menu-icon:hover .line{
    width: 2.5rem;
}
.social-icons-link{
    list-style: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 15rem;
   
    

}
.social-link{
    font-size: 2rem;
    color: rgb(40, 40, 228);
    transition: 1s;
    


}
    
.year{
   
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    
}

form{
    position: relative;
}
/* hide liste */
nav {
   
    position: fixed;
    left: -32rem;

     width:15rem;
    background:linear-gradient(to top, rgba(0, 0, 0, 0.911),rgba(73, 19, 221, 0.788)),url(imge/4.jpg) center 
    no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    transition:left .8s cubic-bezier(1,0,0,1) ;
}

h2{
  font: size 2rem ;
  text-align: center;
}
.navigation-search-iput{
    width: 10rem;
    padding: 1rem,2rem;
    background-color: rgb(22, 19, 19);
    border-radius:5rem  ;
}
.navigation-search-btn{
    border: none;
    background-color: transparent;
    position: absolute;
    top: 3px;
    right:5px;
    cursor: pointer;
}
 ul{
    list-style: none;
    padding: 0;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-left:2.5rem;
    
}
li{
    position: relative;
}
a{
    color: rgb(195, 219, 195);
    font-size: 1.6;
    font-weight: 100;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
}
  
a:hover{
    color: #531bd8;
}
.copyrighte{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: rgb(195, 219, 195);
}
.checkbox:checked~ nav{
    left: 8rem;
}
h1{
    margin-left:8rem ;
}
/* eerste overzicht */

.header-eersteoverzicht{
    margin-left: 8rem;
    height:100vh;
}
/* de brand niet klaar  */
.brand-logo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.heading-brand{
    color: rgb(15, 12, 12);
    font-size: 20px;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.logo{
    width: 30rem;
    height: 3rem;
}
.banner-heading{
    font-size:2.8rem ;
    color: rgb(15, 1, 1);
    animation: anim 2s;
}
.banner-pragraphe{
    font-size: 2.5rem;
    animation: anim 1.5s .5s backwards;

}
.banner-button{
    width:10rem ;
    padding: 1.1rem 0 1.1rem 0;
    font-size: 1.3rem;
    border: none;
    border-radius:2rem ;
    background-color: rgba(138, 108, 248, 0.856);
    color: rgb(237, 241, 243);
    letter-spacing: .1rem;
   text-align: center;
   animation: anim 1s .1s backwards;


}
.banner-button:hover{
    background:rgba(68, 20, 240, 0.856) ;
}
.banner-button:active{
    transform: translateY(.2rem);
}
@keyframes anim {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.banner-hgroup{
    font-size:2.5rem;
    
}
.banner-list{
    font-size: 1.4rem;
    margin-top:1rem;
    
    
}
.banner-tips li:hover{
    color: darkblue;
}
/* article */
 article {
     margin-left: 8rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.589);
    padding: 1rem;
    border-radius: 5px}
/* main */
/* rrow-main */
main ul li:before {     
    content: '';     
    background: url(Svg/right-arrow\ \(2\).png);    
    width: 16px;     
    height: 16px;    
    display: inline-block;    
    position: relative;   
}
    
/* end */

main{
    margin-left: 8rem;
    display: flex;
    flex-direction: column column ;
    justify-content:space-between;
}
.main-studenten,.main-docenten ,.main-onderwijs,.main-tips{
    border: 2px solid black; 
    width: 50%;
    height:20rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
    border-radius:1rem;
   
}


.main-hgroup{
    font-size: 2rem;
    margin-left: 5.5rem;
}
.main-list{
    font-size: 1.4rem;
    text-decoration:none ;
    


    


}
.main-list li:hover{
    color: rgb(202, 193, 138);
}

/* end main */
/* instructie */
.instucties{
    height: 27rem;
    margin-left: 9rem;
    margin-right: 1rem;
    margin-bottom:2rem ;
    border: 2px rgb(8, 1, 1) solid;
    font-weight:400;
    
}
h5{
    font-size:2rem;
    margin: 0;
}
/* rrow-footer */
footer ul li:before {     
    content: '';     
    background: url(Svg/arrow-right.png);    
    width: 32px;     
    height: 32px;    
    display: inline-block;    
    position: relative;   
    top: 10px;
}

/* footer */
footer{
    margin-left: 8rem;
    display: flex;
    flex-direction:4 column;
    justify-content: space-between;
}
.footer-Contact,.footer-about,.footer-volgenons,.footer-klanten{
    border: 2px solid black; 
    width: 50%;
    height:17rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
    border-radius:1rem;
}    
.footer-hgroup{
    font-size:2rem;
    margin: 1rem 1rem 1rem 0; 
    margin-left:5.5rem ;
}
.footer-list{
    font-size: 1.4rem;
    text-decoration:none ;

}

/* end footer */

/* maide max 1080 px */
@media(max-width:1080px){
    main{
        
        margin-left: 8rem;
        display: grid;
        grid-template-columns: repeat(2,50%) ;
        gap: 40px ;
    
        
    }
    .main-studenten{
    
        grid-column: 1/2;
       
    }
    .main-studenten,.main-docenten ,.main-onderwijs ,.main-tips{
       
        width: 70%; 
        height:20rem;
        margin-bottom: 1rem;
        margin:auto ;
    }
    .main-hgroup{
        margin: auto;
    }

    .banner-heading{
       color: red;
       margin: auto;
    }
    .banner-pragraphe{
        margin: auto;
    }

     footer{
        display: grid;
        grid-template-columns:repeat(2,50%);
        gap: 40px;
    }

    .footer-Contact,.footer-about,.footer-volgenons,.footer-klanten{
        margin: auto;
        
        width: 50%;
        height:20rem;
        margin-bottom: 1rem;
        border-radius:1rem;
        /* background-color:rgb(224, 47, 47);  */
        color: rgb(236, 235, 199);
    }
            

}

/* media max 800px */
@media(max-width:800px) {
    .header-eersteoverzicht{
        height: 74vh;
    }

    main{
        
        margin-left: 8rem;
        display: grid;
        grid-template-columns: repeat(2,50%) ;
        grid-gap: 1px;
        
        
    
        
    }
    .main-hgroup{
        font-size: 2rem;
        margin-left: 1rem;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-gap: 1px;
        
    }

    .footer-Contact,.footer-about,.footer-volgenons,.footer-klanten{
        width:70%;
        height:20rem;
        margin-bottom:1 rem;
        border-radius:1rem;
       
        color: rgb(236, 235, 199);
        margin-top: 20px;
    }
    
    .banner-heading{
        color: rgb(0, 255, 0);
        margin: auto;
        font-size: 2rem;
     }
     .banner-pragraphe{
         font-size: 1.5rem;
     }

    
}
/* medai 600px */
@media(max-width:600px) {
    .header-eersteoverzicht{
        height: 75vh;
    }
    .banner-button{
        margin-top:1.5rem ;
    }
    aside{
        width: 5rem;
       
    }
    .banner-heading{
        color: rgb(238, 255, 0);
        margin: auto;
        font-size: 1.5rem;
        margin-left: 1rem;
     }
     .banner-pragraphe{
         font-size: 1.25rem;
     }

     .banner-button{
        width:7rem ;
       
        font-size: 1rem;
     }
     .logo{
         margin-left:8rem ;
     }

     main{
        
        margin-left: 5rem;
        display: grid;
        grid-template-columns: repeat(1,50%) ;
        grid-gap: 1px;
        justify-content:center;
       
        
        
        
    
        
    }
    .main-hgroup{
        font-size: 1.5rem;
        margin-left: 1rem;
        padding: 0.25%;
    }
    .main-list{
        font-size:1rem;
    }
    .main-studenten,.main-docenten,.main-onderwijs ,.main-tips{
       
        width: 10rem;
        height: 12rem;
        margin:0.5rem;
        
    }
    ul{
        height: 6rem;
    }

    footer{
        margin-left: 5rem;
        display: grid;
        grid-template-columns: repeat(1,50%);
        grid-gap: 1px;
        justify-content: center;
        
    }

    .footer-Contact,.footer-about,.footer-volgenons,.footer-klanten{
        width:10rem;
        height:11rem;
        margin: 0.25rem;
       
        
    }

    .footer-hgroup{
        font-size: 1.5rem;
        margin:0rem;
        padding: 0.25%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-list{
        font-size: 1rem;
    }





}
    




    


